body{
    background-color: wheat;
    font-family: 'JetBrains Mono', monospace;
}

.flex{
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 7px;
    color:black;

}
#output{
    font-size: 35px;
    width: 90%;
    height: 40px;
}
.word{
    padding: 4px;
}
#reset{
    font-size: large;
}

#result{
    width: 50%;
    display: flex;
    flex-direction: column;
}
#time{
    font-size: 25px;
    background-color: orange;
    padding: 5px;
}
.res{
    font-size: 35px;
    background-color: #B4E4FF;
    padding: 4px;
}